p
{
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}
h1
{
    font-size: medium;
    font-family: verdana;
    background-color: black;
}
body
{
    background-color: chartreuse;
}